<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon">
        <link href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <meta charset="UTF-8">
        <meta content="initial-scale=1, maximum-scale=1" name="viewport">
        <title>Colournaming</title>
    </head>
    <body>
        <div class="container">
            <h1>Colournamer admin functions</h1>
            <ul>
                <li><a href="{{ url_for('.show_participants') }}">Download participants CSV</a></li>
                <li><a href="{{ url_for('.show_responses') }}">Download responses CSV</a></li>
                <li><a href="{{ url_for('.show_agreements') }}">Download agreements CSV</a></li>
            </ul>
        </div>
        <script src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    </body>
</html>