<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon">
        <link href="{{ url_for('static', filename='farbtastic/farbtastic.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link rel="canonical" href="https://colornaming.net">
        <link rel="alternate" hreflang="el" href="https://colornaming.net?lang=el">
        <link rel="alternate" hreflang="ru" href="https://colornaming.net?lang=ru">
        <link rel="alternate" hreflang="ja" href="https://colornaming.net?lang=ja">
        <meta charset="UTF-8">
        <meta content="initial-scale=1, maximum-scale=1" name="viewport">
        <title>{{ _('Colour Naming') }}</title>
        {% block css %}{% endblock %}
    </head>
    <body data-spy="scroll" data-target="navigation-bar" {% if rtl %}style="direction: rtl"{% endif %}>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='namer.js') }}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7033921-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-7033921-1');
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
