<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Colournaming</title>
        <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body data-spy="scroll" data-target="navigation-bar">
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
