{% extends 'base_experiment.html' %}
{% block content %}
<header>
    <h1>{{ _('Display Properties Task') }}</h1>
</header>
<main>
    <p class="justified-text">{{ _('Adjust the brightness of your display if necessary until you can see the differences between all 11 steps of the greyscale test image. Disable Night Swift mode or blue light filters if applicable.') }}</p>
    <svg id="greyscale-circle" version="1.1" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path d="M 100 100 L 100 0 A 100 100 0 0 1 154 16 Z" id="slice-1"></path>
        <path d="M 100 100 L 154 16 A 100 100 0 0 1 191 58.5 Z" id="slice-2"></path>
        <path d="M 100 100 L 191 58.5 A 100 100 0 0 1 199 114 Z" id="slice-3"></path>
        <path d="M 100 100 L 199 114 A 100 100 0 0 1 175.5 165.5 Z" id="slice-4"></path>
        <path d="M 100 100 L 175.5 165.5 A 100 100 0 0 1 128 196 Z" id="slice-5"></path>
        <path d="M 100 100 L 128 196 A 100 100 0 0 1 72 196 Z" id="slice-6"></path>
        <path d="M 100 100 L 72 196 A 100 100 0 0 1 24.5 165.5 Z" id="slice-7"></path>
        <path d="M 100 100 L 24.5 165.5 A 100 100 0 0 1 1 114 Z" id="slice-8"></path>
        <path d="M 100 100 L 1 114 A 100 100 0 0 1 9 58.5 Z" id="slice-9"></path>
        <path d="M 100 100 L 9 58.5 A 100 100 0 0 1 46 16 Z" id="slice-10"></path>
        <path d="M 100 100 L 46 16 A 100 100 0 0 1 100 0 Z" id="slice-11"></path>
        <circle cx="100" cy="100" id="mask" r="40"></circle>
        <circle cx="100" cy="100" id="outline" r="99.5"></circle>
    </svg>
    <p class="centered-text">{{ _('Confirm how many steps you can see?') }}</p>
    <select class="centered-select" id="levels" name="levels">
        <option value="-">-</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
    </select>
    {{ form.csrf_token }}
</main>
{% endblock %}
