{% extends 'base.html' %}
{% from 'form_helpers.j2' import render_field %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top: 10px">
    <h1>Display properties</h1>
    <p>
        Disable Night Shift or Blue Light filters and adjust the brightness of
        your screen until you can differentiate all steps of the greyscale
        wheel below.
    </p>
    <img src="{{ url_for('static', filename='images/greyscale_wheel.png') }}" alt="Greyscale wheel">
    <form class="form" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.levels) }}
        {{ render_field(form.ambient_light) }} 
        {{ render_field(form.screen_light) }} 
        {{ form.screen_width }}
        {{ form.screen_height }}
        {{ form.screen_colour_depth }}
        <button type="submit">Continue</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('#screen_width')[0].value = screen.width;
    $('#screen_height')[0].value = screen.height;
    $('#screen_colour_depth')[0].value = screen.colorDepth;
</script>
{% endblock %}
