{% extends 'base.html' %}
{% block content %}
<header>
    <nav class="language-navigation">
        <select id="interface-language">
            {% for language in interface_languages %}
            <option value='{{ language.code }}' {% if interface_language==language.code %}selected{% endif %}>{{ language.name }}</option>
            {% endfor %}
        </select>
    </nav>
    <h1 {% if rtl %}style="float: right"{% endif %}>
        <a href="#">{{ _('Colour Naming') }}</a>
    </h1>
    <div class="hamburger" id="hamburger">
        <span>Menu</span>
    </div>
    <nav class="menu-navigation" {% if rtl %}style="float: right"{% endif %}>
        <ul>
            <li>
                <a href="#colour-namer">{{ _('Colour namer') }}</a>
            </li>
            <li>
                <a href="#research">{{ _('Research') }}</a>
            </li>
            <li>
                <a href="#contact">{{ _('Contact') }}</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <img src="static/images/mobiles.jpg" alt="People and mobile devices (by Valero Doval)">
        <p class="justified-text">{{ _("Let's play a game, how many colours can you name?") }}</p>
        
        <p class="justified-text">{{ _("Welcome to Colour Naming, an online experiment designed to collect colour names in multiple languages with their corresponding colour ranges. You will be asked to name a series of colour samples and provide information about your cultural background and viewing conditions. You are free to omit any question and you may withdraw at any time without penalty. Participation in this study is strictly anonymous and voluntary.") }}</p>
        
        <p class="justified-text">{{ _('Many individuals find the tasks of this study enjoyable and we believe there are no known risks to participants. The purpose of this research study is to improve colour communication in multilingual environments. Please feel free to contact the principal investigator <a href="mailto:dimitris.mylonas[at]nchlondon.ac.uk">Dimitris Mylonas</a> if you have any questions.') }}</p>
        
        <p class="justified-text">{{ _("If you are 16 years of age or older, understand the statements and freely consent to participate in the study, click on the 'Start' button to begin the experiment.") }}</p>
        <a class="round-button" href="{{ url_for('experiment.start') }}">{{ _("Start") }}</a>
    </section>
    <section>
        <h2 id="colour-namer">
            <a href="#colour-namer">{{ _('Colour namer') }}</a>
        </h2>
        <p>{{ _('This is a synthetic observer trained by participants’ responses to name each colour in different languages (Mylonas, Stutters, Doval, and MacDonald, 2013). More languages will be added as more data is becoming available.') }}</p>
        <div class="colour-namer-wrapper">
            <div class="colour-namer-row-wrapper">
                <select class="left-aligned-select" id="language" name="language">
                    {% for lang in languages %}
                    {% if lang.code == current_language %}
                    <option value="{{ lang.code }}" selected>
                    {% else %}
                    <option value="{{ lang.code }}">
                    {% endif %}
                        {{ lang.name }}
                    </option>
                    {% endfor %}
                </select>
                <select class="right-aligned-select" id="name" name="name">
                    <option disabled selected value="-">{{ _('by name') }}</option>
                </select>
            </div>
            <div class="colour-namer-row-wrapper">
                <div id="colour-picker"></div>
                <div id="colour-picker-right">
                    <div class="stats-box">
                        <div id="stats-box-header" class="stats-box-header"></div>
                        <dl>
                            <dt>{{ _('Colour name') }}:</dt>
                            <dd id="stats-box-colour-name-display">Red</dd>
                            <dt>{{ _('Synonyms') }}:</dt>
                            <dd id="stats-box-synonyms-display">
                                <ul>
                                    <li>Orange</li>
                                    <li>Pink</li>
                                    <li>Burgundy</li>
                                </ul>
                            </dd>
                            <dt>RGB:</dt>
                            <dd id="stats-box-rgb-display">255 0 0</dd>
                        </dl>
                    </div>
                    <form id='name_agreement_form'>
                        {{ name_agreement_form.csrf_token }}
                        {{ name_agreement_form.agreement(class_='right-aligned-select') }}
                    </form>
                </div>
            </div>
        </div>
        <p>{{ _('This is a βeta version of Colournamer. You will need JavaScript enabled and a browser that supports HTML5 web audio.') }}</p>
    </section>
    <section>
        <h2 id="research">
            <a href="#research">{{ _('Research') }}</a>
        </h2>
        <img src="static/images/computer.jpg" alt="People thinking about colours around a computer (by Valero Doval)">
        <p class="justified-text">{{ _('This research aims to develop an online colour naming model to facilitate colour communication within and between cultures.') }}</p>
        <p class="padded" style="direction: ltr">Title: Colournamer - An Online Colour Naming Model<br>
            Lead Researcher: <a href="https://www.researchgate.net/profile/Dimitris_Mylonas">Dimitris Mylonas</a><br>
            Current Host Academic Institution:<a href="https://www.nchlondon.ac.uk/faculties/philosophy-faculty/">Faculty of Philosophy, New College of the Humanities at Northeastern</a><br>
            Host Academic Institution 2015-2019: <a href="http://www.cs.ucl.ac.uk/">Department of Computer Science, University College London (UCL)</a><br>
            1st PhD Supervisor: Professor Lewis Griffin<br>
            2nd PhD Supervisor: Professor Andrew Stockman<br>
            3rd PhD Supervisor: Professor Lindsay MacDonald<br>
            Host Academic Institution 2013-2014: <a href="http://www.mat.qmul.ac.uk/">Media &amp; Arts Technology, School of Electronic Engineering and Computer Science, Queen Mary University of London (QMUL)</a><br>
            Host Academic Institution 2011-2013: <a href="http://www.vislab.ucl.ac.uk/">Wellcome Laboratory of Neurobiology, Institute of Neuroesthetics, University College London (UCL)</a><br>
            PI: Professor Semir Zeki<br>
            Host Academic Institution 2010-2011: <a href="http://www.liv.ac.uk/psychology/">School of Psychology, Laboratory of Visual Perseption, University of Liverpool</a><br>
            PI: Professor Sophie Wuerger<br>
            This project was initiated as part of: MSc Digital Colour Imaging<br>
            Supervisor: Professor Lindsay MacDonald<br>
            Course Director: Dr Phil Green<br>
            Host Academic Institution (2007-2009): <a href="http://www.lcc.arts.ac.uk/">London College of Communication, University of Arts</a><br>
            Munsell Renotation Data: Rochester Institute of Technology <a href="http://www.cis.rit.edu/mcsl/online/munsell.php">The Munsell Color Science Laboratory</a><br>
            CU Dynamic Colour Vision Test: Professor John Barbur at the <a href="http://www.city.ac.uk/avrc/colourtest.html">City University</a> with support from the UK Civil Aviation Authority<br>
            Web Technical Support (2008-2010): Harris Sidiropoulos<br>
            Friendly online and offline support: <a href="http://cenatus.org/people/andi-studer/">Andi Studer</a>, Netaudio London<br>
            Interface Web Development: <a href="http://jeremah.co.uk/">Jon Stutters</a>, Queen Square MS Centre, UCL<br>
            Front-end Web Development: <a href="https://github.com/chrisguttandin">Christoph Guttandin</a><br>
            Math Advisor: Dr Michael Studer<br>
            Video Editing: Dimitris Tsolakis<br>
            English Translation: Jonathan Dickens<br>
            Greek Translation: Lina Avramidou<br>
            Spanish Translation: <a href="http://www.cat.uab.cat/~robert/">Robert Benavente</a> &amp; Lena Cambero<br>
            Catalan Translation: <a href="http://www.cat.uab.cat/~robert/">Robert Benavente</a> &amp; Gemma Ponsa<br>
            German Translation: Andreas Kraushaar &amp; Heidi Pfund<br>
            Italian Translation: Paola Fumagalli &amp; Chiara Panosetti<br>
            Simplified Chinese Translation: Jie Xu &amp; Ho Alan &amp; Qingmei Huang &amp; Beichen Yu<br>
            Traditional Chinese Translation: Jie Xu &amp; Ho Alan<br>
            French Translation: Alex <a href="http://ajbdraw.com/">Ajbdraw</a><br>
            Korean Translation: 김한나 - Hanna Kim<br>
            Danish Translation: Nynne Horn<br>
            Lithuanian Translation: <a href="http://uk.linkedin.com/in/meliauskaite">Dovile Meliauskaite</a><br>
            Thai Translation: <a href="http://www.thaicolour.com">Associate Professor Pichayada Katemake</a><br>
            Portuguese Translation: <a href="http://carlacruz.net/">Carla Cruz</a><br>
            Swedish Translation: <a href="http://www.kolormondo.com/">Nicoline Kinch &amp; Karl Ryberg</a><br>
            Russian Translation: Anastasia Sorokina, Prof Galina Paramei &amp; <a href="http://color-lab.org/">Dr Yulia Griber</a><br>
            Japanese Translation: <a href="http://dippix.tp.chiba-u.jp/staff_mt_e.html">Dr Midori Tanaka</a> and Chizuru KOGA<br>
            Turkish Translation: Begüm Ulusoy &amp; Ayşe Yıldıran<br>
            Vietnamese Translation: Nguyen Long Giang<br>
            Dutch Translation: <a href="https://twitter.com/jhanenburg">Jeannette Hanenburg</a><br>
            Norwegian Translation: <a href="https://www.ntnu.edu/employees/kine.angelo">A. Prof Kine Angelo</a><br>
            Polish Translation: Dr. Agata Kwiatkowska-Lubańska, Cracow Academy of Fine Arts &amp; Dr. Arch. Justyna Tarajko-Kowalska, Cracow University of Technology<br>
            Farsi Translation: Maryam Mohammad Gholipour<br>
            Slovenian Translation: Primož Weingerl, Ana Mendizza, Dejana Javoršek<br>
            Estonian Translation: <a href="https://www.tlu.ee/en">Tuuli Järmut and Mari Uusküla</a><br>
            Illustration: <a href="http://www.valerodoval.com">Valero Doval</a><br>
            Fine art Printing: <a href="http://www.ccg.gr">CCG, Thessaloniki, Greece</a><br>
            Sound recording and English Voice: <a href="http://patrickfurness.com/">Patrick Furness, London, UK</a><br>
            Greek Voice: Aspa &amp; Vasia Paspali, London, UK &amp; Athens, Greece<br>
            German Voice: <a href="http://barbaragamper.com/">Barbara Gamper, London, UK</a><br>
            Spanish Voice: Ignasia Mesa, London, UK<br>
            Thai Voice: <a href="http://nandadoes.com/">Nanda Khaorapapong, London, UK</a><br>
            Russian Voice: <a href="http://color-lab.org/">Dr Yulia Griber,</a> Smolensk State University, Russia<br>
            Turkish Voice: Begüm Ulusoy<br>
            Farbtastic: jQuery color picker plug-in (orientation modified): <a href="http://acko.net/dev/farbtastic">Steven Wittens</a></p>
        <div class="padded" style="direction: ltr">
            <h3>Networks:</h3>
            <p>This study has been endorsed by the International Colour Association (AIC) through its Study Group on the Language of Colour.</p>
            <ul>
                <li>
                    <a href="http://language-of-color.aic-color.org/">AIC Study Group on the Language of Colour</a>
                </li>
                <li>
                    <a href="http://aic-colour.org/">AIC - International Colour Association</a>
                </li>
                <li>
                    <a href="http://www.imaging.org/IST/index.cfm">The Society for Imaging Science and Technology</a>
                </li>
                <li>
                    <a href="http://fogra.org">Fogra</a> Common Colour Appearance
                </li>
                <li>
                    <a href="http://netaudiolondon.org">Netaudio London</a>
                </li>
                <li>
                    <a href="http://www.gold.ac.uk">Centre for Cognition, Computation and Culture, Goldsmiths</a>
                </li>
                <li>
                    <a href="http://www.colour.org.uk/">Colour Group (Great Britain)</a>
                </li>
                <li>
                    <a href="http://www.gruppodelcolore.it/">Gruppo Del Colore - Associazione Italiana del Colore</a>
                </li>
                <li>
                    <a href="http://www.procor.org.br/procor/index.php/">PRO COR Brazil</a>
                </li>
                <li>
                    <a href="http://www.colourspot.org/">Swedish Colour Centre Foundation – Svenskt Färgcentrum</a>
                </li>
                <li>
                    <a href="http://color-lab.org/novosti/primite-uchastie-v-sovmestnom-eksperimente-s-londonskim-gorodskim-universitetom/">ColorLab: исследование антропогенной среды и городского пространства</a>
                </li>
                <li>
                    <a href="http://dippix.tp.chiba-u.jp/index_e.html">Horiuchi & Hirai Laboratory, Chiba University</a>
                </li>
                <li>
                    <p>Jie Xu, Study Group on Colour Culture, School of the Arts, English and Drama, Loughborough University, UK</p>
                    <p>Dr. Xueqing Zhang, Study Group on Colour Culture, College of Design & Innovation, Tongji University, Shanghai, China</p>    
                </li>
                <li>
                    <p>Beichen Yu, Colour Research in Urban Design, ESALA, The University of Edinburgh, UK</p>
                </li>
                <li>
                    <a href="http://www.cvc.uab.es/"> Color in Context group (CIC), Universitat Autònoma de Barcelona</a>
                </li>
            </ul>
        </div>
        <div class="padded" style="direction: ltr">
            <h3>Crowdfunding Project:</h3>
            <p>In September 2016, we ran a successful Kickstarter project,
            entitled <a
            href="https://www.kickstarter.com/projects/111984715/colours-of-babel">Colours
            of Babel</a>, to upgrade our online experiment to run on all new
            devices, minimize security threats and maintain our online
            presence free without advertisements. We thank all our 96
            supporters for helping us raise 112% of our funding goal. You can
            find below a colour-coded list with our most precious donors:</p>
        </div>
        <div class="padded" style="direction: ltr">
            <h3>Ruby Donors:</h3>
            <ul class="ruby">
                <li>
                    <a href="http://www.logotherapeia-thess.gr/">'Φωνή' Κέντρο Αγωγής και Λόγου</a>
                </li>
                <li >
                    <a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=LWMAC04">Dr Lindsay MacDonald, Faculty of Engineering Sciences, UCL</a>
                </li>
                <li>Οικογένεια Μυλωνά (Ευάγγελος, Γεωργία, Ιωάννα και Αλέξανδρος)</li>
            </ul>
        </div>
        <div class="padded" style="direction: ltr">
            <h3>Emerald Donors:</h3>
            <ul class="emerald">
                <li>Aspa Paspali, Consultant Adolescent Psychiatrist</li>
            </ul>
        </div>
        <div class="padded" style="direction: ltr">
            <h3>Sapphire Donors:</h3>
            <ul class="sapphire">
                <li>
                    <a href="http://www.natific.com/">Janet Best, Natific AG</a>
                </li>
                <li>
                    <a href="https://med.stanford.edu/profiles/stavros-melemenidis">Dr Stavros Melemenidis, Stanford University</a>
                </li>
                <li>
                    <a href="http://www.color-blindness.com/">Daniel Flück, Colblindor</a>
                </li>
                <li>
                    <a href="http://martindittus.info/">Martin Dittus, UCL</a>
                </li>
            </ul>
        </div>
        <div class="padded" style="direction: ltr">
            <h3>Publications/Presentations/Workshops:</h3>
            <ol>
                <li>True Colors - interview of Dimitris Mylonas by Despina Trivoli (2009). LiFO 179 pg.50-51, Athens, Greece, November 2009</li>
                <li>Mylonas, D. (2009) A Colour Naming Investigation within Different Cultures, Oral Presentation, <a href="http://www.rps-isg.org/DF2009_presentations.php">Digital Futures, Image Physics &amp; Psychophysics</a>, Institute of Physics, London, UK, November 2009</li>
                <li>Mylonas, D. (2009) An Online Colour Naming Model, Oral Presentation, <a href="http://www.rps-isg.org/?p=464">Printing and Graphics Science Group Student Conference</a>, Institute of Physics, London, UK, December 2009</li>
                <li>Mylonas, D. and MacDonald, L.W. (2010) Locating Colour Names under different viewing conditions on the Net, Conf. CREATE, Gjøvik, Norway, June 2010</li>
                <li>Mylonas, D. and MacDonald, L.W. (2010) Online Colour Naming Experiment Using Munsell Samples, <a href="http://www.imaging.org/ist/store/physpub.cfm?seriesid=26&amp;pubid=942">Proc. CGIV 2010</a>, Joensuu, Finland, June 2010</li>
                <li>MacDonald, L.W. and Mylonas, D. (2010) Edible Color Names, <a href="http://www.aic2010.blogspot.com/">Proc. AIC 2010 Conf.on ‘Color and Food’</a>, Mar del Plata, Argentina, October 2010</li>
                <li>Mylonas, D.,(2010) Colour Naming Workshop: Likely Colour Names Card Game, Create Workshops, Bristol, UK, October 2010</li>
                <li>Mylonas, D., MacDonald, L.W. and Wuerger S. (2010) Towards an Online Colour Naming Model, <a href="http://www.imaging.org/ist/store/physpub.cfm?seriesid=4&amp;pubid=954">Proc. CIC 2010</a>, San Antonio, US, November 2010</li>
                <li>Mylonas, D.(2010), Oral Presentation, WD Wright Award, Online Colour Naming Experiment Using Munsell Samples, Colour Group GB, London, UK, December 2010</li>
                <li>Mylonas, D. and MacDonald, L.W. (2012) <a href="http://www.woodheadpublishing.com/en/book.aspx?bookID=2240">Colour naming for colour communication.</a> In Colour Design: Theory &amp; Applications, ed Best, J., Woodhead Publishing, Cambridge, UK</li>
                <li>Mylonas, D. and MacDonald, L.W. (2011) An Online Colour naming Workshop. <a href="http://www.eva-london.org/">EVA London Conference</a>, BCS, The Chartered Institute for IT, London, UK, June 2011</li>
                <li>Colour naming Eglantine by any other name - Johnson (2011) <a href="http://www.economist.com/blogs/johnson/2011/07/colour-naming">Economist</a>, Colour naming experiment and Colournamer mentioned in The Economist, New York, July, 2011</li>
                <li>Mylonas, D. (2011) Blue...and the subjective experience of colour (lecture-demo), Lost Property, Amsterdam, Netherlands, November 2011</li>
                <li>Mylonas, D. (2012) Colour naming workshop on FIRE, FIRE - Community project, London, UK, March 2012</li>
                <li>MacDonald, L., Paramei, G. and Mylonas D. (2012) Gender differences in colour naming. Conference Progress in Colour Studies 2012, Glasgow, Scotland, July 2012</li>
                <li>Mylonas, D. (2012) <a href="http://www.colour.org.uk/">Colour naming for colour communication.</a> Public talk, Symposium on Colour for Business and the Professions, Colour Group (GB), City University, London, UK, November 2012</li>
                <li>Mylonas, D., Stutters, J., Doval, V. and MacDonald, L. (2013) Colournamer - a synthetic observer for colour communication, AIC 2013 12th International Congress - Sage Gateshead, Newcastle, UK, July 2013</li>
                <li>Mylonas, D., and MacDonald, L. (2014) Augmenting Basic Colour Terms in English, <a href="http://aisb50.org">AISB-50 - Goldsmiths,</a> London, UK, April 2014</li>
                <li>MacDonald, L. and Mylonas, D. (2014) Gender Differences for Colour Naming in Spanish and English, AIC Interim Meeting, Oaxaca, Mexico, October 2014</li>
                <li>Mylonas, D., Paramei, G. and MacDonald, L. (2014) Gender Differences in Colour Naming, <a href="https://benjamins.com/#catalog/books/z.191.15myl/details">In: Anderson, Wendy, Carole P. Biggam, Carole Hough and Christian Kay (eds.), Colour Studies: A broad spectrum. 2014. xiv, 417 pp. (pp. 225–239),</a> John Benjamins</li>
                <li>Mylonas, D., and MacDonald, L. (2015) Augmenting Basic Colour Terms in English, <a href="http://onlinelibrary.wiley.com/doi/10.1002/col.21944/abstract">Color Research and Application,</a> Wiley, January 2015</li>
                <li>Jacob Aron (2015) Lilac and turquoise are as basic as red and orange, <a href="http://www.newscientist.com/article/dn26913-lilac-and-turquoise-are-as-basic-as-red-and-orange.html#.VPnju2bpg14">New Scientist, Life</a>, February 2015</li>
                <li>Brooks Hays (2015) Study: Lilac and turquoise are universally recognized, <a href="http://www.upi.com/Science_News/2015/02/04/Study-Lilac-and-turquoise-are-universally-recognized/6461423072861/">United Press International</a>, February 2015</li>
                <li>Mylonas, D.(2015) Public talk: Colournamer - a synthetic observer for colour communication, <a href="http://www.colour.org.uk/meetingMarch15.php">Colour Group (GB) International Colour Day,</a> London, UK, 21st March 2015</li>
                <li>Mylonas, D., Purver, M., Sadrzadeh, M., MacDonald, L. and Griffin, L. (2015) The Use of English Colour Terms in Big Data, <a href="http://aic2015.org/">AIC Midterm Meeting</a>, Tokyo, Japan, May 2015</li>
                <li>Katemake,P., Mylonas, D. MacDonald, L., Prasithrathsint, A. (2015) Comparison Among Three Methods for Thai Colour Naming, <a href="http://aic2015.org/">AIC Midterm Meeting</a>, Tokyo, Japan, May 2015</li>
                <li>Грибер Юлия Александровна &amp; Милонас Димитрис(2015) Картография цвета: эмпирический анализ цветонаименований русского языка, <a href="http://e-notabene.ru/ca/article_16636.html">Человек и культура</a>, October, 2015</li>
                <li>Mylonas, D. (2015). The role of psychological primaries in cognitive colour spaces: a cross cultural colour naming study. Invited talk in Colour Vision Meeting 2015, Colour Group GB, London, UK.</li>
                <li>MacDonald, L. (2016). Colour Naming: Linking Vision and Speech. Keynote Speech at 3rd International Conference 'Colour, Culture, Science'. Kraków, Poland. </li>
                <li>Mylonas, D., Andrews, J., Griffin L.D. (2016). Variability in free colour naming across the full colour gamut. In AVA Christmas Meeting, London, UK.</li>
                <li>Griffin L.D., Mylonas, D. (2016). Why so much talk about “red”? In AVA Christmas Meeting, London, UK.</li>
                <li>Mylonas, D., MacDonald, L. (2017). Colour Naming for Colour Design. <a href="https://www.elsevier.com/books/colour-design/best/978-0-08-101270-3">In Colour Design</a>, ed Best, J. Elsevier</li>
                <li>Mylonas D. (2017) Where our brain meets the universe. Invited talk at <a href="https://designmuseum.org/whats-on/talks-courses-and-workshops/chromophobia-colour-in-architecture">Chromophobia: Colour in Architecture</a>. Design Museum, London, UK</li>
                <li>Mylonas D. (2017) Features of GREEN colour categories across languages. Talk at The Colour Green meeting, Northern Chapter, Colour Group GB, Newcastle, UK.</li>
                <li>Mylonas, D., MacDonald L., Griffin, L.D. (2017). Differences in Color Naming between British and American English Speakers. In 13th AIC Congress, South Korea.</li>
                <li>Griber Y., Paramei G.V., Mylonas, D. (2017). Gender Differences in Russian Colour Naming. In 13th AIC Congress, South Korea.</li>
                <li>Ulusoy B., Griffin L.D., Mylonas, D. (2017). Turkish Colour Naming on the Net. In 13th AIC Congress, South Korea.</li>
                <li>Paramei G, Gibber Y., Mylonas D. (2017) An online colour naming experiment in Russian using Munsell colour samples, Color Research &amp; Application, 43,3,358-374,  <a href="https://onlinelibrary.wiley.com/doi/10.1002/col.22190/full">DOI:10.1002/col.22190</a></li>
                <li>Mylonas, D.(2017), Oral Presentation, WD Wright Award, Differences in Color Naming between British and American English Speakers, Colour Group GB, City University, London, UK, November 2017</li>
                <li>Griber Y., Paramei G., Mylonas D. (2018) Objects as Culture -Specific Referents of Color Terms in Russian. Poster Presentation at the <a href="https://munsell2018.org/">ISCC | AIC Munsell Centennial Color Symposium, June 10-15, Boston, MA, US.</a> </li>
                <li>Mylonas D. (2018) Colour naming brings people together. Invited workshop at the <a href="https://munsell2018.org/">ISCC | AIC Munsell Centennial Color Symposium, June 10-15, Boston, MA, US.</a> </li>
                <li>Mylonas D. (2018) Colour naming within and across languages. Invited workshop at the <a href="https://munsell2018.org/">ISCC | AIC Munsell Centennial Color Symposium, June 10-15, Boston, MA, US.</a> </li>
                <li>Griber Y., Paramei G.V., Mylonas, D. (2018). Edible colour names: Cross-cultural comparison of Russian and English. In AIC Interim Meeting, Oct 25-29, Lisbon, Portugal.</li>
                <li>Griber Y., Paramei G., Mylonas D. (2018) Objects as Culture-Specific Referents of Color Terms in Russian. Color Research & Application,43,6,958-975, Wiley.</li>
                <li>Mylonas D., Stockman A., Griffin L.D. (2018) Basic Colour Terms are Indispensable. In AVA 2018 Christmas Meeting, London, UK.</li>
                <li>Mylonas D., Griffin L.D., Stockman A. (2019) Mapping Colour Names in LMS Cone Excitation Space. Invited talk at Colour Vision Meeting 2019, Colour Group GB, City University, London, UK.</li>
                <li>Griffin L.D., Mylonas, D. (2019). Categorical colour geometry. PLoS ONE 14(5): e0216296. DOI:10.1371/journal.pone.0216296</li>
                <li>Mylonas D., Griffin L.D., Stockman A. (2019) Mapping Colour Names in Cone Excitation Space. 25th Symposium, ICVS, 5-9 July, Riga, Latvia.</li>
                <li>Mylonas D., Griffin L.D.(2020) Coherence of achromatic, primary and basic classes of colour categories. Vision Research 175:14-22, DOI: 10.1016/j.visres.2020.06.001</li>
                <li>Mylonas D., (2020) Online versus Offline Colour Naming Experiments. London Imaging Meeing, October, London, UK.</li> 
                <li>Mylonas D., Griffin L.D., Stockman A. (2020) Crowdsourcing of Multilingual Color Names. In Encyclopedia of Color Science and Technology, Springer.</li>
                <li>Mylonas D., (2021) Synonyms for colour names within and across languages. Colour & Potery Symposium 2021, 19-22 March, London, UK.</li>
            </ol>
        </div>
    </section>
    <section>
        <h2 id="contact">
            <a href="#contact">{{ _('Contact') }}</a>
        </h2>
        <p class="justified-text">{{ _('Please use the following communication form to give us your feedback and comments or if you wish to inform you about the results of this research.') }}</p>
        <form id='contact_form' method="post">
            {{ contact_form.csrf_token }}
            {{ contact_form.first_name.label(for='first_name') }}
            {{ contact_form.first_name(class_='form-control', size=20) }}
            {{ contact_form.last_name.label(for='last_name') }}
            {{ contact_form.last_name(class_='form-control', size=20) }}
            {{ contact_form.email.label(for='email')  }}
            {{ contact_form.email(class_='form-control', size=20) }}
            {{ contact_form.organisation.label(for='organisation') }}
            {{ contact_form.organisation(class_='form-control', size=20) }}
            {{ contact_form.message.label(for='message') }}
            {{ contact_form.message(class_='form-control', size=20) }}
            <button class="submit-button" type="submit">{{ _('Submit') }}</button>
        </form>
    </section>
</main>
<footer>
    <div class="social-links">
        <a class="social-link twitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcolornaming.net%2F&amp;text=Let%27s%20play%20a%20game%2C%20how%20many%20colours%20can%20you%20name%3F&amp;via=colornaming&amp;hashtags=colournamer"><!-- Twitter Logo --></a>
        <a class="facebook social-link" href="https://www.facebook.com/sharer/sharer.php?u=colornaming.net" target="_blank" rel="noopener"><!-- Facebook Logo --></a>
        <a class="github social-link" href="https://github.com/colournaming/colournaming"><!-- GitHub Logo --></a>
        <a class="email social-link" href="mailto:dmilonas@gmail.com"></a>
    </div>
    <p class="lined-text">{{ _('Made in London and Berlin') }}</p>
</footer>
{% endblock %}
{% block scripts %}
<script>
    var INTERFACE_LANGUAGE_SELECT_URL = "{{ url_for('home.interface_language')|safe }}";
    var COLOUR_NAMER_URL = "{{ url_for('namer.languages')|safe }}";
    var COLOUR_NAMER_LANGUAGES_URL = "{{ url_for('namer.languages')|safe }}";
    var COLOUR_NAMER_COLOURS_URL = "{{ url_for('namer.get_colours')|safe }}";
    var COLOUR_NAMER_AGREEMENT_URL = "{{ url_for('namer.submit_agreement')|safe }}";
    var AUDIO_DIR = "{{ url_for('static', filename='audio')|safe }}";
    var AUDIO_LIST_URL = "{{ url_for('namer.audio_list')|safe }}";
</script>
{% endblock %}
