{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="padding-top: 50px">
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-xs-12 col-sm-8" style="padding: 0px">
            <img src="{{ url_for('static', filename='images/whatcolourisit.jpg') }}"
                 style="padding: 0; width: 100%" 
                 class="img-responsive center-block"
                 alt="{{ _('What color is it?') }}">
        </div>
    </div>
    {% include('navbar.html') %}
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-xs-12 col-sm-8">
            <h1>{{ _('Welcome') }}</h1>
            <p>
                {{ _('This is a multi-lingual colour naming experiment. '
                     'It is part of research on colour naming and colour '
                     'categorisation within different cultures, and aims '
                     'to improve the inter-cultural colour dialogue. By '
                     'taking part you are helping us to develop an online '
                     'colour naming model which will be based on the colour '
                     'language provided from your responses.') }}
            </p>
            <p>
                {{ _('As part of this simple experiment you will be asked to '
                     'name a series of colour samples. It should not take longer '
                     'than 10 minutes, but if you would like to quit you'
                     'are free to withdraw at any time.') }}
            </p>
            <p>
                {{ _('By clicking the Start button you agree to take part in this study.') }}
            </p>
        </div>
    </div>
</div>
{% endblock %}
