{% extends 'base.html' %}
{% block content %}
<header>
    <h1>
        <a href="#">ColourNaming</a>
    </h1>
    <div class="hamburger">
        <span>Menu</span>
    </div>
    {% include('navbar.html') %}
</header>
<main>
    <section>
        <img src="static/images/mobiles.jpg">
        <p class="justified-text">{{ _('This is a multi-lingual colour naming experiment. By taking part you are helping us to develop an online colour naming model to facilitate colour communication within and across cultures. As part of this simple experiment you will be asked to name a series of colour samples. Please read the agreement statement and click Start now.') }}</p>
        <h3>Confidentiality:</h3>
        <p class="justified-text">Your participation in this study will remain confidential. Data is stored on a secure Unix server along with your IP addresses. The experimental data collected in this study will be used to develop an Online Colour Naming Model and may be shared with other researchers if requested. ALL personal data will be removed, so that NO data can be traced back to the observer.</p>
        <h3>Participation and withdrawal:</h3>
        <p class="justified-text">The participation in this study is only for over 16 years old and voluntary. Please note that you may withdraw at any time without any penalty.</p>
        <h3>Agreement:</h3>
        <p class="justified-text">{{ _('By clicking Start you confirm that you have understood the provided information and agree to take part in this study.') }}</p>
        <a class="round-button" href="{{ url_for('experiment.start') }}">Start</a>
    </section>
    <section>
        <h2 id="colour-namer">
            <a href="#colour-namer">ColourNamer</a>
        </h2>
        <p>This is a βeta version of Colournamer. You will need JavaScript enabled and a browser that supports HTML5 web audio . Comments/feedback is appreciated.</p>
    </section>
    <section>
        <h2 id="research">
            <a href="#research">{{ _('Research') }}</a>
        </h2>
        <img src="static/images/computer.jpg">
        <p class="justified-text">{{ _('This research aims to develop an online colour naming model to facilitate colour communication within &amp; between cultures. Our study has been endorsed by the International Colour Association (AIC) throught its Study Group on the Language of Colour.') }}</p>
        <p class="padded">Title: Colournamer - An Online Colour Naming Model<br>
            Researcher: <a href="http://ucl.academia.edu/DimitrisMylonas">Dimitris Mylonas</a><br>
            Current Host Academic Institution: <a href="http://www.cs.ucl.ac.uk/">Department of Computer Science, University College<br>
            London (UCL)</a><br>
            1st Supervisor: Dr Lewis Griffin<br>
            2nd Supervisor: Prof Andrew Stockman<br>
            3rd Supervisor: Dr Lindsay MacDonald<br>

            Host Academic Institution 2013-2014: <a href="http://www.mat.qmul.ac.uk/">Media &amp; Arts Technology, School of Electronic Engineering and Computer Science, Queen Mary University of London (QMUL)</a><br>
            Host Academic Institution 2011-2013: <a href="http://www.vislab.ucl.ac.uk/">Wellcome Laboratory of Neurobiology, Institute of Neuroesthetics, University College London (UCL)</a><br>
            PI: Professor Semir Zeki<br>
            Host Academic Institution 2010-2011: <a href="http://www.liv.ac.uk/psychology/">School of Psychology, Laboratory of Visual Perseption, University of Liverpool</a><br>
            PI: Professor Sophie Wuerger<br>
            This project was initiated as part of: MSc Digital Colour Imaging<br>
            Supervisor: Professor Lindsay MacDonald<br>
            Course Director: Dr Phil Green<br>
            Host Academic Institution (2007-2009): <a href="http://www.lcc.arts.ac.uk/">London College of Communication, University of Arts</a><br>
            Munsell REnotation Data: Rochester Institute of Technology <a href="http://www.cis.rit.edu/mcsl/online/munsell.php">The Munsell Color Science Laboratory</a><br>
            CU Dynamic Colour Vision Test: Professor John Barbur at the <a href="http://www.city.ac.uk/avrc/colourtest.html">City University</a> with support from the UK Civil Aviation Authority<br>
            Web Technical Support: Harris Sidiropoulos<br>
            Friendly online and offline support: <a href="http://cenatus.org/people/andi-studer/">Andi Studer</a>, Netaudio London<br>
            Interface Web Development: <a href="http://jeremah.co.uk/">Jonny Stutters</a>, Wellcome Laboratory of Neurobiology, UCL<br>
            Math Advisor: Dr Michael Studer<br>
            Video Editing: Dimitris Tsolakis<br>
            English Translation: Jonathan Dickens<br>
            Greek Translation: Lina Avramidou<br>
            Spanish Translation: Lena Cambero<br>
            Catalan Translation: Gemma Ponsa<br>
            German Translation: Heidi Pfund<br>
            Italian Translation: Paola Fumagalli &amp; Chiara Panosetti<br>
            Simplified Chinese Translation: Ho Alan &amp; Qingmei Huang<br>
            Traditional Chinese Translation: Ho Alan<br>
            French Translation: Alex <a href="http://ajbdraw.com/">Ajbdraw</a><br>
            Korean Translation: 김한나 - Hanna Kim<br>
            Danish Translation: Nynne Horn<br>
            Lithuanian Translation: <a href="http://uk.linkedin.com/in/meliauskaite">Dovile Meliauskaite</a><br>
            Thai Translation: <a href="http://www.thaicolour.com">Associate Professor Pichayada Katemake</a><br>
            Portuguese Translation: <a href="http://carlacruz.net/">Carla Cruz</a><br>
            Swedish Translation: <a href="http://www.kolormondo.com/">Nicoline Kinch &amp; Karl Ryberg</a><br>
            Russian Translation: Anastasia Sorokina, Prof Galina Paramei &amp; <a href="http://color-lab.org/">Dr Yulia Griber</a><br>
            Japanese Translation: Chizuru KOGA<br>
            Turkish Translation: Begüm Ulusoy &amp; Ayşe Yıldıran<br>
            Vietnamese Translation: Nguyen Long Giang<br>
            Dutch Translation: <a href="https://twitter.com/jhanenburg">Jeannette Hanenburg</a><br>
            Norwegian Translation: <a href="https://www.ntnu.edu/employees/kine.angelo">A. Prof Kine Angelo</a><br>
            Polish Translation: Dr. Agata Kwiatkowska-Lubańska, Cracow Academy of Fine Arts &amp; Dr. Arch. Justyna Tarajko-Kowalska, Cracow University of Technology<br>
            Illustration: <a href="http://www.valerodoval.com">Valero Doval</a><br>
            Fine art Printing: <a href="http://www.ccg.gr">CCG, Thessaloniki, Greece</a><br>
            Sound recording and English Voice: <a href="http://patrickfurness.com/">Patrick Furness, London, UK</a><br>
            Greek Voice: Aspa &amp; Vasia Paspali, London, UK &amp; Athens, Greece<br>
            German Voice: <a href="http://barbaragamper.com/">Barbara Gamper, London, UK</a><br>
            Spanish Voice: Ignasia Mesa, London, UK<br>
            Thai Voice: <a href="http://nandadoes.com/">Nanda Khaorapapong, London, UK</a><br>
            Russian Voice: <a href="http://color-lab.org/">Dr Yulia Griber,</a> Smolensk State University, Russia<br>
            Farbtastic: jQuery color picker plug-in (orientation modified): <a href="http://acko.net/dev/farbtastic">Steven Wittens</a></p>
        <div class="padded">
            <h3>Networks:</h3>
            <ul>
                <li>
                    <a href="http://language-of-color.aic-color.org/">AIC Study Group on the Language of Colour</a>
                </li>
                <li>
                    <a href="http://aic-colour.org/">AIC - International Colour Association</a>
                </li>
                <li>
                    <a href="http://www.imaging.org/IST/index.cfm">The Society for Imaging Science and Technology</a>
                </li>
                <li>
                    <a href="http://fogra.org">Fogra</a> Common Colour Appearance
                </li>
                <li>
                    <a href="http://netaudiolondon.org">Netaudio London</a>
                </li>
                <li>
                    <a href="http://www.gold.ac.uk">Centre for Cognition, Computation and Culture, Goldsmiths</a>
                </li>
                <li>
                    <a href="http://www.colour.org.uk/">Colour Group (Great Britain)</a>
                </li>
                <li>
                    <a href="http://www.gruppodelcolore.it/">Gruppo Del Colore - Associazione Italiana del Colore</a>
                </li>
                <li>
                    <a href="http://www.procor.org.br/procor/index.php/">PRO COR Brazil</a>
                </li>
                <li>
                    <a href="http://www.colourspot.org/">Swedish Colour Centre Foundation – Svenskt Färgcentrum</a>
                </li>
                <li>
                    <a href="http://color-lab.org/novosti/primite-uchastie-v-sovmestnom-eksperimente-s-londonskim-gorodskim-universitetom/">ColorLab: исследование антропогенной среды и городского пространства</a>
                </li>
            </ul>
        </div>
        <div class="padded">
            <h3>Purpose of the research:</h3>
            <ul>
                <li>To determine multicultural sets of basic colour terms, compounds, modifiers and secondary colour names which are in wide use.</li>
                <li>To locate multicultural colour names in Munsell, sRGB, CIELAB and CIECAM02.</li>
                <li>To investigate colour naming and colour categorization within different cultures.</li>
                <li>To develop a colour-naming model.</li>
            </ul>
        </div>
        <div class="padded">
            <h3>What you will do in this <a href="http://www.colornaming.net">experiment</a> (approximate duration 10 min):</h3>
            <ul>
                <li>We will ask you to give us information on your display technology and viewing conditions.</li>
                <li>We will test your colour vision with a 90 sec short video.</li>
                <li>We will present to you a series of colour patches, one sample at a time, and ask you to name it by using natural language.</li>
                <li>We will ask you to give us information on your cultural background.</li>
            </ul>
        </div>
        <div class="padded">
            <h3>Crowdfunding Project:</h3>
            <p>In September 2016, we've run a successful Kickstarter project, entitled <a href="https://www.kickstarter.com/projects/111984715/colours-of-babel">Colours of Babel</a>, to upgrade our online experiment to run on all new devises, minimize security threats and maintain our online presence free without advertisements. We thank all our 96 supporters for helping us raise 112% of our funding goal. You can find below a colour-coded list with our most precious donors:</p>
        </div>
        <div class="padded">
            <h3>Ruby Donors:</h3>
            <ul class="ruby">
                <li>
                    <a href="http://www.logotherapeia-thess.gr/">'Φωνή' Κέντρο Αγωγής και Λόγου</a>
                </li>
                <li >
                    <a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=LWMAC04">Dr Lindsay MacDonald, Faculty of Engineering Sciences, UCL</a>
                </li>
                <li>Οικογένεια Μυλωνά (Ευάγγελος, Γεωργία, Ιωάννα και Αλέξανδρος)</li>
            </ul>
        </div>
        <div class="padded">
            <h3>Emerald Donors:</h3>
            <ul class="emerald">
                <li>Aspa Paspali, Consultant Adolescent Psychiatrist</li>
            </ul>
        </div>
        <div class="padded">
            <h3>Sapphire Donors:</h3>
            <ul class="sapphire">
                <li>
                    <a href="http://www.natific.com/">Janet Best, Natific AG</a>
                </li>
                <li>
                    <a href="https://med.stanford.edu/profiles/stavros-melemenidis">Dr Stavros Melemenidis, Stanford University</a>
                </li>
                <li>
                    <a href="http://www.color-blindness.com/">Daniel Flück, Colblindor</a>
                </li>
                <li>
                    <a href="http://martindittus.info/">Martin Dittus, UCL</a>
                </li>
            </ul>
        </div>
        <div class="padded">
            <h3>Publications/Presentations/Workshops:</h3>
            <ol>
                <li>True Colors - interview of Dimitris Mylonas by Despina Trivoli (2009) <a href="http://www2.libropage.com/edition/LiFO179">LiFO 179 pg.50-51</a>, Athens, Greece, November 2009</li>
                <li>Mylonas, D. (2009) A Colour Naming Investigation within Different Cultures, Oral Presentation, <a href="http://www.rps-isg.org/DF2009_presentations.php">Digital Futures, Image Physics &amp; Psychophysics</a>, Institute of Physics, London, UK, November 2009</li>
                <li>Mylonas, D. (2009) An Online Colour Naming Model, Oral Presentation, <a href="http://www.rps-isg.org/?p=464">Printing and Graphics Science Group Student Conference</a>, Institute of Physics, London, UK, December 2009</li>
                <li>Mylonas, D. and MacDonald, L.W. (2010) Locating Colour Names under different viewing conditions on the Net, Conf. <a href="www.create.uwe.ac.uk/norway_paperlist/mylonas.pdf">CREATE</a>, Gjøvik, Norway, June 2010</li>
                <li>Mylonas, D. and MacDonald, L.W. (2010) Online Colour Naming Experiment Using Munsell Samples, <a href="http://www.imaging.org/ist/store/physpub.cfm?seriesid=26&amp;pubid=942">Proc. CGIV 2010</a>, Joensuu, Finland, June 2010 <a href="http://colornaming.net/Papers/CGIV_10_Online_Colour_Naming_Experiment_Using_Munsell_Samples_D.Mylonas.pdf">(pdf)</a></li>
                <li>MacDonald, L.W. and Mylonas, D. (2010) Edible Color Names, <a href="http://www.aic2010.blogspot.com/">Proc. AIC 2010 Conf.on ‘Color and Food’</a>, Mar del Plata, Argentina, October 2010</li>
                <li>Mylonas, D.,(2010) Colour Naming Workshop: Likely Colour Names Card Game, Create Workshops, Bristol, UK, October 2010</li>
                <li>Mylonas, D., MacDonald, L.W. and Wuerger S. (2010) Towards an Online Colour Naming Model, <a href="http://www.imaging.org/ist/store/physpub.cfm?seriesid=4&amp;pubid=954">Proc. CIC 2010</a>, San Antonio, US, November 2010  <a href="http://colornaming.net/Papers/CIC_10_Towards_online_color_naming_model_D.Mylonas.pdf">(pdf)</a></li>
                <li>Mylonas, D.(2010), Oral Presentation, <a href="http://www.colour.org.uk/meetingDecember10.html">WD Wright Award</a>, Online Colour Naming Experiment Using Munsell Samples, Colour Group, London, UK, December 2010</li>
                <li>Mylonas, D. and MacDonald, L.W. (2012) <a href="http://www.woodheadpublishing.com/en/book.aspx?bookID=2240">Colour naming for colour communication.</a> In Colour Design: Theory &amp; Applications, ed Best, J., Woodhead Publishing, Cambridge, UK</li>
                <li>Mylonas, D. and MacDonald, L.W. (2011) An Online Colour naming Workshop. <a href="http://www.eva-london.org/">EVA London Conference</a>, BCS, The Chartered Institute for IT, London, UK, June 2011</li>
                <li>Colour naming Eglantine by any other name - Johnson (2011) <a href="http://www.economist.com/blogs/johnson/2011/07/colour-naming">Economist</a>, Colour naming experiment and Colournamer mentioned in The Economist, New York, July, 2011</li>
                <li>Mylonas, D. (2011) Blue...and the subjective experience of colour (lecture-demo), Lost Property, Amsterdam, Netherlands, November 2011</li>
                <li>Mylonas, D. (2012) Colour naming workshop on FIRE, FIRE - Community project, London, UK, March 2012</li>
                <li>MacDonald, L., Paramei, G. and Mylonas D. (2012) Gender differences in colour naming. <a href="http://www.gla.ac.uk/schools/critical/research/seminarsandevents/glasgowcolourstudiesgroup/pics12/">Conference Progress in Colour Studies 2012</a>, Glasgow, Scotland, July 2012</li>
                <li>Mylonas, D. (2012) <a href="http://www.colour.org.uk/meetingNovember12.html">Colour naming for colour communication.</a> Public talk, Symposium on Colour for Business and the Professions, Colour Group (GB), City University, London, UK, November 2012</li>
                <li>Mylonas, D., Stutters, J., Doval, V. and MacDonald, L. (2013) Colournamer - a synthetic observer for colour communication, <a href="http://www.aic2013.org">AIC 2013 12th International Congress - Sage Gateshead,</a> Newcastle, UK, July 2013</li>
                <li>Mylonas, D., and MacDonald, L. (2014) Augmenting Basic Colour Terms in English, <a href="http://aisb50.org">AISB-50 - Goldsmiths,</a> London, UK, April 2014</li>
                <li>MacDonald, L. and Mylonas, D. (2014) Gender Differences for Colour Naming in Spanish and English, AIC Interim Meeting, Oaxaca, Mexico, October 2014</li>
                <li>Mylonas, D., Paramei, G. and MacDonald, L. (2014) Gender Differences in Colour Naming, <a href="https://benjamins.com/#catalog/books/z.191.15myl/details">In: Anderson, Wendy, Carole P. Biggam, Carole Hough and Christian Kay (eds.), Colour Studies: A broad spectrum. 2014. xiv, 417 pp. (pp. 225–239),</a> John Benjamins</li>
                <li>Mylonas, D., and MacDonald, L. (2015) Augmenting Basic Colour Terms in English, <a href="http://onlinelibrary.wiley.com/doi/10.1002/col.21944/abstract">Color Research and Application,</a> Wiley, January 2015</li>
                <li>Jacob Aron (2015) Lilac and turquoise are as basic as red and orange, <a href="http://www.newscientist.com/article/dn26913-lilac-and-turquoise-are-as-basic-as-red-and-orange.html#.VPnju2bpg14">New Scientist, Life</a>, February 2015</li>
                <li>Brooks Hays (2015) Study: Lilac and turquoise are universally recognized, <a href="http://www.upi.com/Science_News/2015/02/04/Study-Lilac-and-turquoise-are-universally-recognized/6461423072861/">United Press International</a>, February 2015</li>
                <li>Mylonas, D.(2015) Public talk: Colournamer - a synthetic observer for colour communication, <a href="http://www.colour.org.uk/meetingMarch15.php">Colour Group (GB) International Colour Day,</a> London, UK, 21st March 2015</li>
                <li>Mylonas, D., Purver, M., Sadrzadeh, M., MacDonald, L. and Griffin, L. (2015) The Use of English Colour Terms in Big Data, <a href="http://aic2015.org/">AIC Midterm Meeting</a>, Tokyo, Japan, May 2015</li>
                <li>Katemake,P., Mylonas, D. MacDonald, L., Prasithrathsint, A. (2015) Comparison Among Three Methods for Thai Colour Naming, <a href="http://aic2015.org/">AIC Midterm Meeting</a>, Tokyo, Japan, May 2015</li>
                <li>Грибер Юлия Александровна &amp; Милонас Димитрис(2015) Картография цвета: эмпирический анализ цветонаименований русского языка, <a href="http://e-notabene.ru/ca/article_16636.html">Человек и культура</a>, (in press) October, 2015</li>
                <li>Mylonas, D. (2015). The role of psychological primaries in cognitive colour spaces: a cross cultural colour naming study. In Colour Vision Meeting 2015, Colour Group GB.</li>
                <li>Mylonas, D., Andrews, J., Griffin L.D. (2016). Variability in free colour naming across the full colour gamut. In AVA Christmas Meeting, London, UK.</li>
                <li>Griffin L.D., Mylonas, D. (2016). Why so much talk about “red”? In AVA Christmas Meeting, London, UK.</li>
                <li>Mylonas, D., MacDonald, L. (2017). Colour Naming for Colour Design. In Colour Design, ed Best, J. Elsevier</li>
                <li>Mylonas D. (2017) Where our brain meets the universe. Talk at <a href="https://designmuseum.org/whats-on/talks-courses-and-workshops/chromophobia-colour-in-architecture">Chromophobia: Colour in Architecture</a>. Design Museum, London, UK</li>
                <li>Mylonas D. (2017) Features of GREEN colour categories across languages. Talk at The Colour Green meeting, Northern Chapter, Colour Group GB, Newcastle, UK.</li>
                <li>Mylonas, D., MacDonald L., Griffin, L.D. (2017). Differences in Color Naming between British and American English Speakers. In 13th AIC Congress, South Korea.</li>
                <li>Griber Y., Paramei G.V., Mylonas, D. (2017). Gender Differences in Russian Colour Naming. In 13th AIC Congress, South Korea.</li>
                <li>Ulusoy B., Griffin L.D., Mylonas, D. (2017). Turkish Colour Naming on the Net. In 13th AIC Congress, South Korea.</li>
                <li>Paramei G, Gibber Y., Mylonas D. (2017) An online colour naming experiment in Russian using Munsell colour samples, Color Research &amp; Application (in press), DOI:10.1002/col.22190.</li>
            </ol>
        </div>
    </section>
    <section>
        <h2 id="contact">
            <a href="#contact">Contact</a>
        </h2>
        <p class="justified-text">Please use the following communication form to give us your feedback and comments or if you wish to inform you about the results of this research.</p>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.first_name.label(for='first_name') }}
            {{ form.first_name(class_='form-control', size=20) }}
            {{ form.last_name.label(for='last_name') }}
            {{ form.last_name(class_='form-control', size=20) }}
            {{ form.email.label(for='email')  }}
            {{ form.email(class_='form-control', size=20) }}
            {{ form.organisation.label(for='organisation') }}
            {{ form.organisation(class_='form-control', size=20) }}
            {{ form.message.label(for='message') }}
            {{ form.message(class_='form-control', size=20) }}
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </section>
</main>
<footer>
    <p class="centered-text">Dimitris Mylonas<br>Email: dmilonas(at)gmail.com</p>
    <div class="social-links">
        <a class="social-link twitter" href="#"><!-- Twitter Logo --></a>
        <a class="facebook social-link" href="#"><!-- Facebook Logo --></a>
        <a class="github social-link" href="#"><!-- GitHub Logo --></a>
    </div>
    <p class="lined-text">Made in London (and Berlin) with lots of love.</p>
</footer>
{% endblock %}
