<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon">
        <link href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <meta charset="UTF-8">
        <meta content="initial-scale=1, maximum-scale=1" name="viewport">
        <title>Colournaming</title>
    </head>
    <body>
        <div class="container">
            <form class="form" method='POST'>
                <h2>Please sign in</h2>
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username(class_='form-control', placeholder='Username') }}
                </div>
                <div class="form-group">
                    {{ form.password(class_='form-control', placeholder='Password') }}
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    </body>
</html>
