{% extends 'base_experiment.html' %}
{% block content %}
<header>
    <h1>{{ _('Colour Naming Task') }}</h1>
</header>
<main>
    <p class="justified-text">{{ _('Name each colour sample with the best representative colour term that you remember.<br>Press the Arrow button [&gt;] or Enter on your keyboard once you have finished naming the colour for the next colour sample to appear. Name as many colour samples (20+) as you can for higher ranking on colour namers. You will need to press the Finish button to start the next task. Your response time will be recorded.') }}</p>
    <span id="colour-number">#1</span>
    <div id="colour-circle">
        <div></div>
    </div>
    <div class="input-group">
        <form id="colour-name-form">
            <input autocomplete="off" autofocus id="colour-name" name="colour-name" placeholder={{ _("Name the colour of the patch") }} type="text">
            <input id="colour-id" name="colour-id" type="hidden">
            <input id="start-time" name="start-time" type="hidden">
            <input id="response-time" name="response-time" type="hidden">
            <button id="next-colour" type="submit">
                <svg version="1.1" viewBox="0 0 30 26" xmlns="http://www.w3.org/2000/svg">
                    <polyline id="next_colour_button" points="10,5 20,14 10,23"></polyline>
                </svg>
            </button>
        </form>
    </div>
    {{ form.csrf_token }}
</main>
<footer>
    <a id="colour-vision-test-page" class="centered-button round-button text-button" href="colour-vision-test.html">{{ _('Finish') }}</a>
</footer>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var COLOUR_NAME_TARGET_URL = "{{ get_target_url }}";
    var COLOUR_NAME_BACKGROUND_URL = "{{ get_background_url }}";
</script>
{% endblock %}
