{% extends 'base_experiment.html' %}

{% block content %}
<header>
   <h1>Thank you</h1>
</header>
<main>
   <p class="justified-text">Thank you for participating. You are in ‘n’% top colournamers. Feel free to share it with your friends.</p>
   <div class="social-links">
       <a class="social-link twitter" href="#"></a>
       <a class="facebook social-link" href="#"></a>
       <a class="email social-link" href="#"></a>
   </div>
   <p class="justified-text">Find below your and the most popular responces:</p>
   <ul id="results"></ul>
</main>
{% endblock %}
