body {
    color: #FFF;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
}

header {
    border-top: 1px solid #FFF;
    margin: 20px auto;
    max-width: 986px;
    overflow: hidden;
}

h1 {
    float: left;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    margin: 16px 0;
}

.justified-text {
    font-size: 16px;
    margin: 1em auto;
    max-width: 680px;
}

.centered-text {
    font-size: 16px;
    margin: 1em auto;
    max-width: 680px;
    text-align: center;
}

#greyscale-circle {
    display: block;
    margin: 80px auto 36px;
    max-width: 150px;
    width: 50%;
}

#slice-1 {
    fill: #000;
}

#slice-2 {
    fill: #1A1A1A;
}

#slice-3 {
    fill: #333;
}

#slice-4 {
    fill: #4D4D4D;
}

#slice-5 {
    fill: #666;
}

#slice-6 {
    fill: #808080;
}

#slice-7 {
    fill: #999;
}

#slice-8 {
    fill: #B3B3B3;
}

#slice-9 {
    fill: #CCC;
}

#slice-10 {
    fill: #E6E6E6;
}

#slice-11 {
    fill: #FFF;
}

#mask {
    stroke: #000;
    fill: #808080;
}

#outline {
    stroke: #000;
    fill: none;
}

.centered-select {
    background-color: #FFF;
    border: none;
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 200px;
}

footer {
    margin: 19px auto;
    max-width: 986px;
    padding: 1px 0;
}

.round-button {
    background-color: #FFF;
    border-radius: 37.5px;
    cursor: pointer;
    display: block;
    font-size: 27px;
    height: 75px;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    width: 75px;
}

.round-button::before {
    border: 1px solid #FFF;
    border-radius: 40px;
    content: '';
    display: block;
    height: 79px;
    position: absolute;
    right: -3px;
    top: -3px;
    width: 79px;
}

.round-button:hover {
    border-radius: 36.5px;
    height: 73px;
    margin: 1px;
    width: 73px;
}

.round-button:hover::before {
    right: -4px;
    top: -4px;
}

.round-button:active {
    border-radius: 36.5px;
    height: 73px;
    margin: 2px 1px 0;
    width: 73px;
}

.round-button:active::before {
    right: -4px;
    top: -5px;
}

.round-button svg {
    fill: none;
    stroke: #808080;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}

.text-button {
    color: #808080;
    font-size: 15px;
    line-height: 72px;
    text-align: center;
    text-decoration: none;
}

.text-button:hover {
    line-height: 70px;
}

.centered-button {
    margin: 0 auto;
}

.centered-button:hover {
    margin: 1px auto;
}

.centered-button:active {
    margin: 2px auto 0;
}

#colour-number {
    display: block;
    font-size: 25px;
    margin: 1em auto;
    max-width: 680px;
    text-align: right;
}

#colour-circle {
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    max-width: 148px;
    width: 50%;
}

#colour-circle div {
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}

.input-group {
    margin: 2.25em auto 3.625em;
    overflow: hidden;
    width: 340px;
}

.input-group input {
    background-color: transparent;
    border: 1px solid #FFF;
    border-top: 201px solid #FFF;
    border-radius: 0;
    color: #FFF;
    float: left;
    font-size: 16px;
    height: 26px;
    margin: -200px 0 0;
    outline: none;
    padding: 1px 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 300px;
}

.input-group input::placeholder {
    color: #CCC;
}

.input-group button {
    background-color: #FFF;
    border: none;
    border-radius: 0;
    float: left;
    font-size: 16px;
    height: 30px;
    padding: 0;
    width: 95px;
}

button#next-colour {
    height: 30px;
    width: 30px;
}

video {
    background-color: #978D86;
    display: block;
    height: 208px;
    margin: 22px auto 36px;
    width: 208px;
}

.justified-box {
    margin: 1em auto;
    max-width: 680px;
    overflow: hidden;
}

.justified-box p {
    float: left;
    font-size: 16px;
    margin: 5px 50px 5px 0;
    width: calc(100% - 200px);
}

.justified-box select {
    background-color: #FFF;
    border: none;
    display: block;
    float: left;
    height: 30px;
    width: 132px;
}

.justified-box input {
    background-color: #FFF;
    border: none;
    display: block;
    float: left;
    height: 28px;
    width: 198px;
}

.justified-box#specify-gender {
    display: none;
}

.social-links {
    margin: 0 auto;
    overflow: hidden;
    width: 180px;
}

.social-link {
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 20px;
    display: block;
    float: left;
    height: 40px;
    margin: 3px 10px 5px;
    position: relative;
    width: 40px;
}

.social-link::before {
    border: 1px solid #FFF;
    border-radius: 22px;
    content: '';
    display: block;
    height: 44px;
    position: absolute;
    right: -3px;
    top: -3px;
    width: 44px;
}

.social-link:hover {
    background-size: 28px;
    height: 38px;
    margin: 4px 11px 4px;
    width: 38px;
}

.social-link:hover::before {
    right: -4px;
    top: -4px;
}

.social-link:active {
    background-size: 28px;
    height: 38px;
    margin: 5px 11px 3px;
    width: 38px;
}

.social-link:active::before {
    right: -4px;
    top: -4px;
}

.social-link.email {
    background-image: url(../images/email-white.png);
}

.social-link.facebook {
    background-image: url(../images/facebook-white.png);
}

.social-link.twitter {
    background-image: url(../images/twitter-white.png);
}

#results {
    list-style: none;
    margin: 1em auto;
    max-width: 680px;
    padding: 0;
    overflow: hidden;
}

#results li {
    float: left;
    height: 50px;
    margin: 0 0 1em;
    overflow: hidden;
    width: 25%;
}

#results li div {
    border: 1px solid #000;
    border-radius: 25px;
    float: left;
    height: 48px;
    width: 48px;
}

#results li span {
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 0 0 0 55px;
    vertical-align: middle;
}

#results li span.black {
    color: #000;
}

#results li span.white {
    color: #FFF;
}

@media (max-width: 600px) {

    .input-group.cropped {
        margin-bottom: 0;
    }

    .hidden {
        display: none;
    }

    .justified-box p {
        float: left;
        font-size: 16px;
        margin: 5px 0;
        width: 100%;
    }

    .justified-box select, input {
        background-color: #FFF;
        border: none;
        display: block;
        float: left;
        height: 30px;
        width: 132px;
    }

    #results li {
        min-width: 198px;
        width: 50%;
    }

}
